.App {
  text-align: center;
}

.dd-wrapper {
  position: relative;
  display: block;
  padding: 8px;
  margin: auto;
}

.dd-header{
  width:178px;
  height:20px;
  margin: auto;
  background-color:#0f0d80 ;
  padding:12px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}

.dd-list {
  position: absolute;
  display: block;
  margin: auto;
  padding: 8px;
  top:45px;
  right:0px;
  width: 100%;
  background-color: white;
  font-weight:bold;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #e5e5e5;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
