.App {
  text-align: center;
}

.display {
  text-align: center;
}

.dd-wrapper, .form-wrapper {
  position: relative;
  height: 8vh;
  width: 35vh;
  text-align: center;
  margin: auto;
  padding: 15px 15px;
  text-align: center;
}

.dd-title, .input-title {
  position: absolute;
  font-weight: bold;
  top: 12px;
  height: 3vh;
  width: 35vh;
}

.input-header {
  position: relative;
  bottom: 12px;
  text-align: center;
  height: 5vh;
  width: 35vh;
  margin-top: 10px;
  border-radius: 4px;
  background-color: white;
  font-size: medium;
  cursor: auto;
  border: blue;
  border-width: 1px;
  border-style: solid;
}

.dd-header {
    position: absolute;
    bottom: 12px;
    text-align: center;
    height: 5vh;
    width: 35vh;
    border-radius: 4px;
    background-color: white;
    font-size: medium;
    cursor: pointer;
    border: blue;
    border-width: 1px;
    border-style: solid;
}

.dd-header:hover {
  background-color: rgb(212, 209, 209);
}

.dd-header-title {
  position: absolute;
  height: 5vh;
  width: 35vh;
  text-align: center;
}

.dd-header-arrow {
  position: absolute;
  right: 0;
  height: 5vh;
  width: 5vh;
}

.dd-list-wrapper {
  position: absolute;
  width: 35vh;
  text-align: center;
  font-size: 16px;
  margin-top: 9vh;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
}

.dd-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 4px;
  z-index: 1;
}

.dd-list-items {
  text-align: center;
  border-radius: 4px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  background-color: white;
  border-bottom: 1px;
  border-bottom-style: none;
}

.dd-list-items:hover {
  background-color: rgb(212, 209, 209);
}

.error-icon {
  position: absolute;
  color: red;
  right: 16px;
  bottom: 19px;
  z-index: 1;
}

.error:focus {
  outline-color: red;
  border-color: red;
}

.error {
  border-color: red;
  color: red;
}

.alert-circle-outline {
  color: red;
}

body {
  background-color: white;
  padding: 15px 15px;

}

p, input {
  top: 50%;
  transform: translateY(-50%);
}

i {
  top: 50%;
  transform: translateY(-50%);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}